include mixins.pug

#header
  include ../../content/title.pug
#main

  #intro.section
    div.section-content
      include ../../content/intro.pug
  .section
    h2.section-title Expériences

    include ../../content/experiences.pug

  .section
    h2.section-title Formations

    include ../../content/education.pug

#sidebar

  #contact.section
    h1.section-title Contact
    .contact-items
      include ../../content/contact.pug

  .separator

  #skills.section
    h1.section-title Compétences
    .section-content
      include ../../content/skills.pug
  .separator

  #interests.section
    h2.section-title Centres d'intérêt
    .interests-items
      include ../../content/hobbies.pug

style
  include:scss cv.scss
