@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

@import './dist/icons.css';


$page-padding: 10mm;

$total-page-width: 210mm;
$total-page-height: 297mm;

$main-col-width: 112mm;
$sidebar-width: 63mm;


$regular-weight: 400;
$bold-weight: 700;
$extra-bold-weight: 800;

$black: #434343;
$grey: #98b6b7;
$stroke-color: #C0C0C0;

$blue: #16d9a8;
$light-blue: #abedd8;
$dark-blue: #48466d;
$stroke-color: rgba($blue, 0.3);

$highlight-color: $blue;
$link-color: $blue;

$header-height: 21mm;

$spacing: 6mm;
$spacing-small: 3mm;
$spacing-xsmall: 2mm;
$spacing-xxsmall: .5mm;
$spacing-medium: 12mm;


$timeline-dot-size: 4mm;
$stroke-size: 1px;
$stroke-color: rgba($stroke-color, 0.4);
$stroke: $stroke-size solid $stroke-color;

$letter-spacing-title: 0.5mm;

$header-title-size: 25pt;
$title-size: 13pt;
$small-title-size: 10pt;
$normal-size: 9pt;
$small-size: 8pt;

$contact-icon-size: 14pt;
$interest-icon-size: 30pt;



@page {
  size: $total-page-width $total-page-height;
  -relaxed-page-width: $total-page-width;
  -relaxed-page-height: $total-page-height;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: #efefef;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: $regular-weight;
  line-height: 1.5;
  color: $black;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a[href] {
  color: $link-color;
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  position: relative;
  width: $total-page-width;
  height: $total-page-height;
  padding: $page-padding;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto $sidebar-width;
  grid-template-rows: min-content min-content auto;
  grid-gap: $spacing;
}

#header {
  grid-column: 1 / 3;
  padding-bottom: $spacing;
  border-bottom: $stroke;
}

#intro {
  grid-column: 1 / 3;
}

#sidebar,
#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  .section {
    &:not(:last-child) {
      margin-bottom: $spacing;
    }
  }
}

#sidebar {
  border-left: $stroke;
  padding: 0;
  padding-left: $spacing;
  height: 100%;

  .separator {
    width: 100%;
    border-top: $stroke;
    margin: $spacing-small 0;
  }
}

.section-content {
  font-size: $normal-size;

  > * {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $spacing-xsmall;
    }
  }

  > ul {
    &:not(:last-child) {
      margin-bottom: $spacing-small;
    }

    > li {
      margin-bottom: $spacing-xsmall;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      > li {
        font-size: $small-size;
        font-style: italic;
      }
    }
  }
}

.small {
  font-size: 7pt;
}

// Titles
.header-title {
  color: $blue;
  font-weight: $extra-bold-weight;
  font-size: $header-title-size;
  line-height: 1;
}

.header-subtitle {
  color: $black;
  font-size: $title-size;
  font-weight: $regular-weight;
}

.section-title {
  font-weight: $regular-weight;
  font-size: $title-size;
  color: $black;
  margin-bottom: $spacing-small;
}

.medium-title {
  font-size: $small-title-size;
  font-weight: $extra-bold-weight;
  line-height: 1;
}

// Timeline-item
.timeline-item {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: column;
  padding-left: $spacing;
  padding-top: $spacing-xsmall;
  border-left: $stroke;
  position: relative;

  &:not(:last-child) {
    padding-bottom: $spacing-small;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    width: $timeline-dot-size;
    height: $timeline-dot-size;
    border-radius: 50%;
    background-color: $highlight-color;
    border: $spacing-xsmall solid #ffffff;
  }

  > * {
    &:not(:last-child) {
      margin-bottom: $spacing-xsmall;
    }
  }

  .medium-title {
  }

  .date {
    margin-left: $spacing-small;
    font-size: $small-size;
    color: $black;
    font-weight: $regular-weight;
  }

  .item-location {
    display: flex;
    font-size: $small-title-size;

    .place + .address {
      &::before {
        content: ', ';
      }
    }
  }

  .details {
    margin-left: $spacing-xsmall;
    font-style: italic;
    font-size: $normal-size;
    line-height: 1.7;
  }

  .description {
    font-size: $normal-size;

    > * + * {
      margin-top: $spacing-xsmall !important;
    }

    li {
      margin: 0 0 $spacing-xsmall 0;
      padding-left: 4.5mm;
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: $stroke-color;
        content: '';
      }
    }
  }
}

#interests {
  .interests-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spacing-small 0;
    justify-content: center;
    align-content: center;

    .interest {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;

      .icon {
        font-size: $interest-icon-size;
        color: $highlight-color;
      }

      .label {
        font-size: $normal-size;
        margin: $spacing-small 0 0;
      }
    }
  }
}

#skills {
  .medium-title {
    margin-top: 4.5mm;
    margin-bottom: 2.5mm;

    &:first-child {
      margin-top: 0;
    }
  }
}

#contact {
  .contact-items {
    font-size: $normal-size;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    grid-gap: 4mm $spacing-small;
    align-items: center;
    justify-content: flex-start;
  }

  .icon {
    font-size: $contact-icon-size;
    text-align: center;
    color: $highlight-color;
  }
}

#disclaimer {
  position: absolute;
  bottom: $spacing-small;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 7pt;
  color: $grey;

  p {
    margin: 0;
  }
}
