include resume-mixins.pug

#header
  h1.header-title Valentin Chevalier
  h2.header-subtitle Développeur Fullstack

#intro.section
  div.section-content
    :markdown-it
      Je me spécialise dans la mise en place d’expériences web qui combinent **interactivité**, ergonomie et qualité du code.

      Ma passion pour le web et le **développement** me permet de découvrir et experimenter de nouvelles technologies et outils, mais également de suivre les tendances en matière de **design**, d’ergonomie et d'animations.

#main
  .section
    h2.section-title Expériences

    +timeline-item("Développeur FullStack", "W2P Digital", "Agence web basée à Toulouse", "Août 2018", "Auj.")
      :markdown-it
        - Sites web **WordPress** : [France Paralympique](https://france-paralympique.fr/) - [Pyrofree](https://www.pyrofree.com/) - [TEDx Toulouse](https://www.tedxtoulouse.com/) - ...
        - Sites événementiels : [PortonsLeDrapeau.fr](https://www.portonsledrapeau.fr/) - [Reveal maillot Stade Toulousain](https://alaconquetedesetoiles.space)
        - Conception et développement d’applications Android et iOS : **VueJS** + **Capacitor** [Application pour Danone](https://play.google.com/store/apps/details?id=com.hydrationforhealth.splash)
        - Amélioration de l'environnement de développement **WebPack**, NPM, StyleLint, ESLint...

    +timeline-item("Développeur Frontend", "Munso", "Agence web basée à Toulouse", "Sept. 2016", "Août 2018", "(fermée depuis)")
      :markdown-it
        - Applications Android et iOS : **Ionic** + API REST Node / Express / MongoDB
        - Sites web **WordPress**, Angular
        - Intégration front sur du Symfony (**Twig**)

    +timeline-item("Développeur Frontend", "Demooz", "Toulouse", "Mai", "Août 2016", "Stage M1 Informatique")
      :markdown-it
        - Développement du site [demooz.com](https://demooz.com/fr/)
        - Frontend et backend Angular + API NodeJS

    +timeline-item("Développeur Fullstack", "Expertises & Concept", "Toulouse", "Juin", "Août 2014", "Stage DUT Informatique")
      :markdown-it
        - Réalisation d’un intranet pour la réalisation des expertises

  .section
    h2.section-title Formations

    +timeline-item("Master Développement Logiciel", "Université Paul Sabatier", "Toulouse", "2017", null, "En alternance chez Munso")

    +timeline-item("Licence Informatique", "Université Paul Sabatier", "Toulouse",  "2015")

    +timeline-item("DUT Informatique", "IUT A", "Toulouse",  "2014")


#sidebar

  #contact.section
    h1.section-title Infos
    .contact-items
      i.icon.icon-birthday-cake
      span.value 29 ans
      i.icon.icon-mail
      span.value valche.vc@gmail.com
      i.icon.icon-map-marker
      span.value 6 rue des Gallois
        br
        | #[span.small Bât 1, Appt 111]
        br
        | 31 000 Toulouse
      i.icon.icon-phone
      span.value 07.77.03.37.86
      i.icon.icon-github
      span.value #[a(href="https://github.com/valentinchevalier", target="_blank") @valentinchevalier]

  .separator

  #skills.section
    h1.section-title Compétences
    .section-content
      h2.medium-title Langages et frameworks
      :markdown-it
        - JavaScript (ES6) - HTML 5 - CSS 3
        - PHP - NodeJS
        - VueJS - React - Angular
        - Capacitor - Electron
        - GSAP
      h2.medium-title CMS
      :markdown-it
        - WordPress - WooCommerce
        - Prestashop - Drupal
      h2.medium-title Outils de développement
      :markdown-it
        - Webpack - NPM
        - SASS
        - Twig
        - Versioning : GIT
      h2.medium-title Autres
      :markdown-it
        - Figma - Sketch
        - Illustrator - Photoshop
        - Anglais (bon niveau)
          - Lecture/écriture aisée
          - Bonne compréhension orale

  //- .separator

  //- #interests.section
  //-   h2.section-title Centres d'intérêt
  //-   .interests-items
  //-     +interest("headphones", "Musique")
  //-     +interest("code", "Code")
  //-     +interest("molkky", "Mölkky")
  //-     +interest("movie", "Séries")

#disclaimer CV réalisé en HTML/CSS -&nbsp;
  a(href="https://git.io/vhukb", target="_blank") Code source

style
  include:scss resume.scss
