include resume-mixins.pug

#header
  h1.header-title #[strong Camille] DARRACQ
  h2.header-subtitle Employée Polyvalente
#main

  #intro.section
    div.section-content
      :markdown-it
        Je me spécialise dans la mise en place d’expériences web qui combinent **interactivité**, ergonomie et qualité du code.

  .section
    h2.section-title Expériences

    //- +timeline-item("Développeur Frontend", "Munso", "Toulouse", "Sept. 2016", "Auj.", "Agence digitale basée à Toulouse et Paris d'une dizaine de personnes")
    //-   :markdown-it
    //-     - Conception technique et développement d’applications Android et iOS : **Ionic** / Meteor + API REST Node / Express / MongoDB
    //-     - Développement de sites web Angular : [Share Stories Of Change](http://sharestoriesofchange.org/)
    //-     - Sites web **WordPress** : [Forbidden Stories](https://forbiddenstories.org/) - [CDA France](https://cdafrance.com/) - ...
    //-     - Intégration front sur du Symfony (**Twig**) : [Lig'Up](https://lig-up.net/)
    //-     - Amélioration de l'environnement de développement avec **WebPack**, NPM, Yarn, StyleLint, ESLint...

    //- +timeline-item("Développeur Frontend", "Demooz", "Toulouse", "Mai", "Août 2016", "Stage M1 Informatique")
    //-   :markdown-it
    //-     - Développement de la version 2 du site [demooz.com](https://demooz.com/fr/)
    //-     - Frontend et backend AngularJS + API NodeJS

    +timeline-item("Graphiste Illustratrice Freelance", "Auto-entrepreneur", "Toulouse", "Depuis 2016")
      :markdown-it
        - Relation et gestion clientèle
        - Gestion administrative de l'entreprise

    +timeline-item("Service, employée polyvalente", "La Kantoch", "Toulouse", "2018 - 8 mois")
      :markdown-it
        - Mise en place - Service en salle
        - Encaissement
        - Commis - Plonge

    +timeline-item("Hôtesse de caisse", "Casino Supermarché - Espace Saint-George", "Toulouse", "2011 - 3 mois", "2014 - 5 mois")

    +timeline-item("Employée polyvalente", "Carrefour Market", "Argelès-Gazost", "2011 - 3 mois", "2012 - 3 mois")

    +timeline-item("Service, employée polyvalente", "Café Napoléon III", "Bordeaux", "2010 - 3 mois")

    +timeline-item("Réception hôtelière", "La Louisiane", "Paris 6", "2009", "3 mois")

    +timeline-item("Vendeuse", "Camaïeu", "Bordeaux", "2009 - 6 mois")

  .section
    h2.section-title Formations

    +timeline-item("Diplôme d'infographie multimédia", "AP Formation", "Toulouse", "2015")

    +timeline-item("Diplôme national d'art - Option Design", "ISDAT", "Toulouse", "2011 - 2013")

    +timeline-item("Mise à niveau en Art Appliqué", "Ecole de condé", "Bordeaux", "2009 - 2010")

    +timeline-item("Bac L - Histoire de l'art", "", "Bordeaux", "2008")


#sidebar
  #contact.section
    h1.section-title Contact
    .contact-items
      i.icon.icon-mailbox
      span.value camille.darracq@gmail.com
      i.icon.icon-home
      span.value 6 rue des Gallois,
        br
        | Bât 1 Appt 111,
        br
        | 31 400 Toulouse
      i.icon.icon-phone
      span.value 06 84 97 25 17
      i.icon.icon-eye
      span.value #[a(href="https://camilledarracq.com", target="_blank") camilledarracq.com]

  .separator

  #skills.section
    h1.section-title Compétences
    .section-content
      h2.medium-title Relationnel
      :markdown-it
        - Accueil et conseil du client
        - Reception de livraisons
        - Travail en équipe
      h2.medium-title Infographie
      :markdown-it
        - Photoshop, Illustrator, InDesign
      h2.medium-title Autres
      :markdown-it
        - Anglais (bon niveau)
          - Lecture/écriture aisée
          - Bonne compréhension orale

  .separator

  #interests.section
    h2.section-title Passion
    .interests-items
      +interest("headphones", "Art & design")
      +interest("code", "Tropicool")
      +interest("molkky", "Mölkky")
      +interest("movie", "Séries")

//- #disclaimer CV réalisé en HTML/CSS -&nbsp;
//-   a(href="https://git.io/vhukb", target="_blank") Code source

style
  include:scss resume.scss
