include resume-mixins.pug

#header
  h1.header-title #[strong Camille] DARRACQ #[small.small Née le 7 Mai 1989]
  h2.header-subtitle Employée polyvalente
#main

  //- #intro.section
  //-   div.section-content
  //-     :markdown-it
  //-       Je recherche un poste d'employée polyvalente en *temps partiel* afin de compléter mon activité d'illustratrice à mon compte.

  .section
    h2.section-title Expériences

    //-     - Développement de sites web Angular : [Share Stories Of Change](http://sharestoriesofchange.org/)
    //-     - Sites web **WordPress** : [Forbidden Stories](https://forbiddenstories.org/) - [CDA France](https://cdafrance.com/) - ...
    +timeline-item("Vendeuse", "Meric boutique", "Toulouse", "2020 - 3 mois", null, null, true)
      :markdown-it
        - Accueil et conseil client

    +timeline-item("Vendeuse", "Bensimon - Home Autour du monde", "Toulouse", "2019 - 4 mois", null, null, true)
      :markdown-it
        - Accueil et conseil client
        - Gestion de caisse
        - Réception des colis, étiquetage et cintrage

    +timeline-item("Graphiste Illustratrice Freelance", "Auto-entrepreneur", "Toulouse", "Depuis 2016")
      :markdown-it
        - Création d'identités visuelles, supports de communication
        - Illustrations autour du design et de l'architecture

    +timeline-item("Serveuse, employée polyvalente", "La Kantoch", "Toulouse", "2018 - 1 an")

    +timeline-item("Hôtesse de caisse", "Casino Supermarché - Espace Saint-Georges", "Toulouse", "2011 - 3 mois", "2014 - 5 mois")

    +timeline-item("Employée polyvalente", "Carrefour Market", "Argelès-Gazost", "2011 - 3 mois", "2012 - 3 mois")

    +timeline-item("Serveuse, employée polyvalente", "Café Napoléon III", "Bordeaux", "2010 - 3 mois")

    +timeline-item("Réception hôtelière", "La Louisiane", "Paris 6", "2009", "3 mois")

    +timeline-item("Vendeuse", "Camaïeu", "Bordeaux", "2009 - 6 mois")

  .section
    h2.section-title Formations

    +timeline-item("Diplôme d'infographie multimédia", "AP Formation", "Toulouse", "2015")

    +timeline-item("Diplôme national d'art - Option Design", "ISDAT", "Toulouse", "2011 - 2013")

    +timeline-item("Mise à niveau en Art Appliqué", "Ecole de Condé", "Bordeaux", "2009 - 2010")

    +timeline-item("Bac L - Histoire de l'art", "", "Bordeaux", "2008")


#sidebar
  #contact.section
    h1.section-title Contact
    .contact-items
      i.icon.icon-mailbox
      span.value camille.darracq@gmail.com
      i.icon.icon-home
      span.value 6 rue des Gallois,
        br
        | Bât 1, Appt 111,
        br
        | 31 400 Toulouse
      i.icon.icon-phone
      span.value 06 84 97 25 17
      i.icon.icon-eye
      span.value #[a(href="https://camilledarracq.com", target="_blank") camilledarracq.com]

  .separator

  #skills.section
    h1.section-title Compétences
    .section-content
      :markdown-it
        - Service en salle
        - Gestion de caisse
        - Mise en rayon
        - Gestion de stocks - Inventaire
        - Réception de livraisons
      h2.medium-title Relationnel
      :markdown-it
        - Accueil et conseil du client
        - Travail en équipe
      h2.medium-title Infographie
      :markdown-it
        - Photoshop, Illustrator, InDesign
      h2.medium-title Autres
      :markdown-it
        - Anglais
          - Lecture aisée
          - Bonne compréhension orale

  .separator

  #interests.section
    h2.section-title Passions
    .interests-items
      +interest("building", "Architecture & Design")
      +interest("bike", "Vélo")
      +interest("book", "Littérature")
      +interest("movie", "Séries")

//- #disclaimer CV réalisé en HTML/CSS -&nbsp;
//-   a(href="https://git.io/vhukb", target="_blank") Code source

style
  include:scss resume.scss
