+contact-item("at", "envoie-moi un... fax !")
+contact-item("map-marker", "Monde de merde")
+contact-item("phone", "Alors c’est le 19 94")
+contact-item("github", "<a href='https://github.com/thocleval' target='_blank'>/thocleval</a>")
