+education-item("1993", null, "Bac + 2, les enfants", "la puissance intellectuelle", "Le phare ouest", "Dans un flashback")
+education-item("1993", null, "Bac", "Lycée", "Le phare ouest")
+education-item("1993", null, "Exercices isométriques", "Dans un bouquin", "Le phare ouest")
