+skill-section("Cuisine", "Ouiche Lorraine", "Mexican food", "Des chips", "La choucroute")
+skill-section("La classe", "la coquetterie ≠ la classe", "les bonbons qui collent au papier", "Le cul qui brille", "connais Sheraf ")
+skill-section("Autres", "Scie musicale", "Supporter de la Juventus", "Le journalisme total", "Aaargh... Rosebud...")
