@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import 'customisation';

$total-page-width: 210mm;
$total-page-height: 297mm;

$circle-size: 1.5rem;
$padding-content: 2rem;
$margin-top-content: 1rem;

$text-small: 0.8rem;

@mixin gradient {
    background: white;
    mix-blend-mode: screen;
}

@mixin icon ($name) {
	$path: "../icons/#{$name}.svg";
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: data-uri($path);
}

@page {
  size: $total-page-width $total-page-height;
  -relaxed-page-width: $total-page-width;
  -relaxed-page-height: $total-page-height;
  margin: 0;
}


:root {
  font-size: 15px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* + * {
    margin-top: -1px;
}

body{
    // font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3{
    // font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

h1{
    font-size: 3em;
    line-height: 0.8;
}

h2{
    font-size: 1rem;
    padding: 5px 1px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

#background{
    background: $gradient-background;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $padding-content;
}

#header{
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    background: black;
    mix-blend-mode: screen;

    h1{
        margin-left: 1rem;
    }
}

#title{
    color: #fff;
    grid-column: 1 / 7;
    grid-row: 3;
    margin-bottom: -3px;
}

#clip{
    color: #000;
    background-color: #fff;
    grid-column: 1 / 13;
    grid-row: 4;

    h1{
        margin-top: -3px;
        padding-bottom: 2rem;
    }
}

#content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-grow: 1;
}

#sidebar{
    grid-column: 2 / 6;
    grid-row: 1 / max;
    display: flex;
    flex-direction: column;
    margin-left: -1px;
    // background: white;

    h2{
        padding-right: 20px;
    }

    * + .title-wrapper{
        padding-top: 2rem;
    }

    .title-wrapper{
        padding-bottom: $margin-top-content;
    }
}

#timelines{
    grid-column: 6 / 12;
    display: flex;
    flex-direction: column;
    margin-left: -1px;

    * + .title-wrapper {
        padding-top: 1rem;
    }

    .timeline-item + .timeline-item {
        .timeline-content{
            padding-top: 0rem;
        }
        .timeline-graphics{
            .line{
                height: $circle-size;
            }
        }
    }
}

.margin-left{
    background: white;
    grid-column: 1 / 2;
    grid-row: 1 / max;
}

.margin-right{
    background: white;
    grid-column: 12 / 13;
    margin-left: -1px;
    grid-row: 1 / max;
}

.title-wrapper{
    grid-column: 6 / 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include gradient;
}

.angle{
    background: #000;
    height: 15px;
    align-self: flex-end;
    width: 2px;
    margin-left: calc((#{$circle-size} / 2) + 1px);
    padding-left: 2px;
}

.separator{
    background: #000;
    height: 2px;
    flex-grow: 1;
    margin-right: 20px;
}

.timeline-item{
    grid-column: 6 / 12;
    display: flex;
}

.timeline-graphics{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    mix-blend-mode: screen;
    padding-right: 2px;
    padding-left: 2px;

    .circle{
        height: $circle-size;
        width: $circle-size;
        border-radius: 50%;
        border: solid 2px #000;
    }

    .line{
        background: #000;
        height: $margin-top-content + $circle-size;
        width: 2px;
    }

    .line-long{
        background: #000;
        width: 2px;
        flex-grow: 1;
    }
}

.timeline-content{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: $margin-top-content;
    background: white;
    flex-grow: 1;
    margin-left: -1px;

    .date{
        display: flex;
        align-items: center;
        height: $circle-size;
    }

    .title{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .place{
        font-size: 1rem;
    }

    .description{
        font-size: $text-small;
    }

    ul{
        padding-left: 0;

        li{
            margin-left: 1.5rem;
            padding: 5px 0px;
            font-size: $text-small;
        }
    }
}

#contact-items{
    display: flex;
    flex-direction: column;

    .item{
        display: grid;
        grid-template-columns: 20px 1fr;
        margin-right: -1px;

        .icon{
            grid-column: 1;
            height: 100%;
            width: 20px;
            padding: 1px;
            background: white;
            mix-blend-mode: screen;
        }

        .value{
            grid-column: 2;
            background: white;
            width: 100%;
            margin-left: -1px;
            padding: 8px 10px;
        }
    }

}

#skills-items{
    // background: white;
    .title{
        font-size: 1.2rem;
        background: white;
        padding-bottom: 0.5rem;
        font-weight: 500;
    }

    * + .title{
        padding-top: 1rem;
    }

    ul{
        padding-left: 0;
        margin: 0;
        margin-top: -1;

        li{
            background: white;
            position: relative;
            margin-left: 1.5rem;
            padding: 5px 2px;
            font-size: $text-small;

            &:before{
                position: absolute;
                left: -24px;
                top: -1;
                content: "•";
                font-size: 1.1rem;
                line-height: 1.5;
                text-align: center;
                width: 25px;
                color: black;
                background: white;
                mix-blend-mode: screen;
            }
        }
    }
}

#hobbies-items{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;

    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -1;
        margin-top: -1;

        .icon{
            height: 50px;
            width: 100%;
            background: white;
            mix-blend-mode: screen;
        }

        .value{
            background: white;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            padding: 2rem 0px;
        }
    }
}

.filler{
    background: white;
    flex-grow: 1;
}
